<h1>Edit Issue</h1>
<%# <form class="container-fluid"> %>
   
        <div class="col-sm-12 well">
           <%= form_for @issue, url:{action: "update"} do |f| %>  

                 <h3>Mandatory Info</h3><hr>
                <div class="form-group">
                        <label > <%= f.label :title, 'Title : ' %>  
                        <%= f.text_field :title  %>
                </div>
                <div class="form-group">
                        <label ><%= f.label :description, 'Description : ' %> 
                        <%= f.text_field :description  %>

                </div>
                <div class="form-group">
                         <%= f.label :issue_type, 'issue_type : ' %> 
                        <%= f.text_field :issue_type  %>

                </div>
       
     <br> <h3>Additional Info</h3><hr>
                <div class="form-group">

                        <%= f.label :img, 'Image :' %>
                        <%= f.text_field :img   %>
                </div>
                <div class="form-group">

                          <%= f.label :os, 'OS : ' %> 
                        <%= f.text_field :os  %>
                </div>
                <div class="form-group">
                          <%= f.label :device_make, 'device_make : ' %> 
                        <%= f.text_field :device_make  %>
                </div>
                <div class="form-group">

                          <%= f.label :pl, 'PL : ' %> 
                        <%= f.text_field :pl  %>
                </div>
                <div class="form-group">
                          <%= f.label :pl_version, 'PL_version :' %> 
                        <%= f.text_field :pl_version   %>
                </div>
                <div class="form-group">

                          <%= f.label :text_editor, 'text_editor :' %> 
                        <%= f.text_field :text_editor   %>

                </div>

       <%= f.submit " save " %>
        <% end %>
     </div>