<div class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-2 well">
            <div class="well">
                <%if(!user_signed_in?)%>
                <p> Join Us </p>
            </div>
            <% else %>
            <p class="username"><%= @user.username %> </p>
            <p><%= @user.email%></p>
        </div>
        <div class="well">
            <%= link_to "New", new_issue_path %>
        </div>
        <div class="well">
            <%= link_to "Issues", issues_path %>
        </div>
        <% end %>

    </div>
    <div class="col-sm-10">

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default text-left">
                    <div class="panel-body">
                     <p contenteditable="true">Happy Journey on Finding Answers For Your Issues</p><br>
                    <%# filter %>
                        <%# <form action="/issues" method="GET">
                        <input type="text" name="search_name" >
                        <input type="submit" value="Search for issue">
                        </form> %>
                    <%# filter %>
                       

                    </div>
                </div>
            </div>
        </div>

        <% i=0 %>
        <% @issues.each do |issue| %>
        <% i=i+1 %>
        <div class="row">
            <div class="col-sm-2">
                <div class="well">
                    <p class="green">by <%= issue.user.username %> </p>
                    <p><%= issue.created_at.to_date %></p>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="well">
                    <p><%= link_to issue.title, issue_path(issue) %></p>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="well">
                    <p><%= issue.issue_type %></p>
                </div>

            </div>
        </div>


        <% end %>
    </div>
</div>
</div>
</div>

<%# <button> link_to "solutions" </button> %>
<%# <button> link_to "comments" </button> %>
<%# <div>
<table>
<thead>
<th>#</th>
<th>Title</th>
<th>Type</th>
<th>Operating System</th>
<th>Asked On</th>
</thead>
<tbody>
<% i=0 >
< @issues.each do |issue| >
< i=i+1 >
<tr>
<th scope='row'><%=i%>
<%# </th>
<td> %>
<%#% link_to issue.title, issue_path(issue) ></td>
<td><= issue.issue_type></td>
<td><= issue.os ></td>
<td><= issue.created_at.to_date ></td>
</tr>
< end >

</tbody>
</table>
</div> %>