<h1>Home page</h1>



<%# <button> link_to "solutions" </button> %>
<%# <button> link_to "comments" </button> %>
<div>
<table>
<thead>
<th>#</th>
<th>Title</th>
<th>Type</th>
<th>Operating System</th>
<th>Asked On</th>
</thead>
<tbody>
<% i=0 %>
<% @issues.each do |issue| %>
<% i=i+1 %>
<tr>
<th scope='row'><%=i%></th>
<td><%= link_to issue.title, issue_path(issue) %></td>
<td><%= issue.issue_type%></td>
<td><%= issue.os %></td>
<td><%= issue.created_at.to_date %></td>
</tr>
<% end %>

</tbody>
</table>
</div>