<%# ex code to the bootstrap _ not used in the project %>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>    
    /* Set black background color, white text and some padding */
  
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
       <%if(user_signed_in?)%>
      <span class="navbar-brand"><%= @user.username %></span>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "new", new_issue_path %></li>
        <li><%= link_to "issues", issues_path %></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group input-group">
          <input type="text" class="form-control" placeholder="Search..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>        
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log In", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      </ul>
    </div>
    <% end %>
  </div>
</nav>
  
<footer class="container-fluid text-center">
  <p>Monano @2019</p>
</footer>

</body>
</html>





<form>
<%= form_for @issue, url:{action: "create"} do |f| %>
  <div class="form-group">
    <label for="formGroupExampleInput"> <%= f.label :title, 'Title : ' %> </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input"> <%= f.text_field :title %>
  </div>
      
        <label for="formGroupExampleInput"><%= f.label :description, 'Description : ' %></label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input"> <%= f.text_field :description %> 

        <label for="formGroupExampleInput"><%= f.label :issue_type, 'issue_type : ' %></label>
       <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">  <%= f.text_field :issue_type %> 

       <label for="formGroupExampleInput"> <%= f.label :img, 'Image :' %></label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">   <%= f.text_field :img  %> 

      <label for="formGroupExampleInput">   <%= f.label :os, 'OS : ' %></label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">   <%= f.text_field :os %> 

      <label for="formGroupExampleInput">  <%= f.label :device_make, 'device_make : ' %></label>
     <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">    <%= f.text_field :device_make %> 

      <label for="formGroupExampleInput">  <%= f.label :pl, 'PL : ' %></label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">   <%= f.text_field :pl %> 

      <label for="formGroupExampleInput">  <%= f.label :pl_version, 'PL_version :' %></label>
     <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">    <%= f.text_field :pl_version  %> 

      <label for="formGroupExampleInput">  <%= f.label :text_editor, 'text_editor :' %></label>
     <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">    <%= f.text_field :text_editor  %> 

        <%= f.submit " save " %>

<% end %>
</form>


<%# old view issue new %>
<h1>New Issue</h1>

<%= form_for @issue, url:{action: "create"} do |f| %>
        <%= f.label :title, 'Title : ' %><br>
        <%= f.text_field :title %><br><br>

        <%= f.label :description, 'Description : ' %><br>
        <%= f.text_field :description %><br><br>

        <%= f.label :issue_type, 'issue_type : ' %><br>
        <%= f.text_field :issue_type %><br><br>

        <%= f.label :img, 'Image :' %><br>
        <%= f.text_field :img  %><br><br>

         <%= f.label :os, 'OS : ' %><br>
        <%= f.text_field :os %><br><br>

        <%= f.label :device_make, 'device_make : ' %><br>
        <%= f.text_field :device_make %><br><br>

        <%= f.label :pl, 'PL : ' %><br>
        <%= f.text_field :pl %><br><br>

        <%= f.label :pl_version, 'PL_version :' %><br>
        <%= f.text_field :pl_version  %><br><br>

        <%= f.label :text_editor, 'text_editor :' %><br>
        <%= f.text_field :text_editor  %><br><br>

        <%= f.submit " save " %>

<% end %>