
<div class="container-fluid">
    <% @answers.each do |answer|%>
    <div class="row">
        <div class="col-sm-12">
            <div class="well">
       
                <p class="orange">@<%= answer.user.username %></p>
                <em><%= answer.updated_at.to_date %></em>
  
                  <p style="font-size:24px;"><%= answer.description %></p>
             <br>
                  <div>
                   <% if(!user_signed_in? || answer.user.id != current_user.id) %>
                    <%= link_to ("<i class='far' style='font-size:25px;color:green'> &#xf582; </i>").html_safe %>
                    <%= link_to ("<i class='far' style='font-size:25px;color:navy'> &#xf5b4; </i>").html_safe %>
                    <% else %>
                    <%= link_to ("<i class='far' style='font-size:22px;color:black'> &#xf044; </i>").html_safe, edit_issue_answer_path(answer.issue_id,answer)%>
                    <%= link_to ("<i class='far' style='font-size:22px;color:darkred'> &#xf2ed; </i>").html_safe, issue_answer_path(answer.issue_id,answer) , method: :delete %>  
                    <% end %>
                    </div>
            </div>
        </div>
    </div>
    <% end %>
</div>
</div>