<h1>Add Answer</h1>
<div class="col-sm-12 well">
    <%= form_for @answer, url:{action: "create"} do |f| %>
    <%= f.hidden_field :issue_id, :value => @issue.id %>
    <div class="form-group">
        <%= f.label :description , 'Description : '%><br>
        <%= f.text_field :description %>
    </div>
    <%= f.submit " save " %> | <%= link_to "cancle", :back %> 
    <% end %>
</div>