<h1>add answer</h1>
<%= form_for @answer, url:{action: "create"} do |f| %>
<%= f.hidden_field :issue_id, :value => @issue.id %>
<%= f.label :description , 'Description : '%><br>
<%= f.text_field :description %>
<%= f.submit " save " %>
<% end %>