<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<script src="https://kit.fontawesome.com/2bae5d5932.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%if(user_signed_in?)%>

<h1><%= @user.username %> </h1>
<button> <%= link_to "Edit Account", edit_user_registration_path %> </button>
<button> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </button>
<button> <%= link_to "new", new_issue_path %> </button>
<button> <%= link_to "issues", issues_path %> </button>

<% else %>
<button> <%= link_to "Log In", new_user_session_path %></button>
<button> <%= link_to "Sign Up", new_user_registration_path %></button>
<% end %>

    <%= yield %>
  </body>
</html>
